body {
  font-family: "M PLUS 1p";
  background-image: url(/site_images/kumosora1.png);
  background-size: cover;
  height: 100svh;
}

header {
  display: none;
  height: 10svh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
}
header #header_img {
  height: 100%;
  background-image: url(/site_images/logo_transparent_header.png);
  background-size: 14svh;
  background-repeat: no-repeat;
  background-position: center center;
}

#head_text {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  height: 5svh;
  line-height: 5svh;
  margin-bottom: 4svh;
  padding: 0;
  background-color: rgba(245, 245, 245, 0.8156862745);
}

#upload_area {
  margin: 0 auto;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.8);
}
#upload_area .dropzone {
  border-radius: 10px;
  padding: 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#upload_area .dropzone .dz-message {
  margin: 0 auto;
}
#upload_area .dropzone .dz-message button {
  height: 100%;
}
#upload_area .dropzone .dz-preview {
  width: 30vw;
  height: 30vw;
}
#upload_area .dropzone .dz-preview .dz-image {
  width: 100%;
  height: 100%;
}
#upload_area .dropzone .dz-preview .dz-image img {
  width: 100%;
  height: 100%;
}

#button_area {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3svh;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

button#back, button#share {
  text-align: center;
  width: 45%;
  height: 60px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 6px;
  border: 0;
  color: #000021;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 15px;
}

button#back:hover, button#share:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

button#back {
  color: #fff;
  background: #ff5000;
}

#share_modal #share_modal_content {
  margin: 0 auto;
}
#share_modal #share_modal_content h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  height: 5svh;
  line-height: 5svh;
  margin-bottom: 2svh;
  padding: 0;
  background-color: rgba(245, 245, 245, 0.8156862745);
}
#share_modal #share_modal_content .cp_iptxt {
  margin: 0 auto;
  position: relative;
  width: 70%;
}
#share_modal #share_modal_content .cp_iptxt input[type=text], #share_modal #share_modal_content .cp_iptxt input[type=password] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #aaaaaa;
  border: 1px solid #1b2538;
  border-radius: 4px;
}
#share_modal #share_modal_content .ef input[type=text]:focus, #share_modal #share_modal_content .ef input[type=password]:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
}
#share_modal #share_modal_content #copy-url, #share_modal #share_modal_content #show-qr-code {
  display: block;
  text-align: center;
  margin: 2svh auto;
  width: 30%;
  height: 40px;
  background-color: #1de9b6;
  border: none;
  border-radius: 3px;
  color: #000021;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

#qr_code_modal #qr_code_modal_content {
  margin: 0 auto;
}
#qr_code_modal #qr_code_modal_content .message {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  height: 5svh;
  margin: 2svh auto;
  margin-bottom: 2svh;
  padding: 0 5vw;
  background-color: rgba(245, 245, 245, 0.8156862745);
}
#qr_code_modal #qr_code_modal_content .room_name {
  text-align: center;
}
#qr_code_modal #qr_code_modal_content .qr_code {
  display: block;
  text-align: center;
  margin: 0 auto 2svh auto;
  width: 60vw;
  max-width: 300px;
}

/* PC */
@media screen and (min-width: 960px) {
  header {
    display: block;
  }
  #head_text {
    font-size: 26px;
    height: 8svh;
    line-height: 8svh;
  }
  #upload_area {
    margin: 0 auto;
    width: 50vw;
  }
  #upload_area .dropzone {
    border-radius: 20px;
    padding: 2vw 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
  }
  #upload_area .dropzone .dz-message {
    font-size: 20px;
    margin: 0 auto;
  }
  #upload_area .dropzone .dz-message button {
    height: 100%;
  }
  #upload_area .dropzone .dz-preview {
    margin: 20px auto;
    width: 11vw;
    height: 11vw;
  }
  #upload_area .dropzone .dz-preview .dz-image {
    width: 100%;
    height: 100%;
  }
  #upload_area .dropzone .dz-preview .dz-image img {
    width: 100%;
    height: 100%;
  }
  #upload_area .dropzone .dz-remove {
    font-size: 20px;
  }
  #button_area {
    margin-bottom: 10svh;
    width: 40vw;
  }
  button#back, button#share {
    width: 35%;
    height: 90px;
    font-size: 22px;
  }
}/*# sourceMappingURL=upload.css.map */