// SmartPhone
body{
  // font-family: "M PLUS 1p";
  background-image: url(/site_images/kumosora1.png);
  background-size: cover;
  height: 100svh;
}

header{
  display: none;
  height: 10svh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  #header_img{
    height: 100%;
    background-image: url(/site_images/logo_transparent_header.png);
    background-size: 14svh;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

#sp_msg{
  text-align: center;
  width: 70%;
  // height: 30px;
  line-height: 32px;
  margin: 0 auto 3svh auto;
  background-color: #fff;
  border: solid 1px #aaa;
  border-radius: 5px;
}

#pc_msg{
  display: none;
}

#file_empty{
  max-width: 600px;
  display: block;
  text-align: center;
  width: 60%;
  padding: 10px 10px;
  line-height: 25px;
  margin: 0 auto 3svh auto;
  background-color: #fff;
  border: solid 1px #aaa;
  border-radius: 5px;
}

#head_text{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  height: 5svh;
  line-height: 5svh;
  margin-bottom: 3svh;
  padding: 0;
  background-color: #f5f5f5d0;
}


ul{
  background-color: #ffffffcd;
  height: 65svh;
  overflow-y: scroll;
  .share_list{
    border-top: 1px solid #aaaaaa;
    background-color: #f5f5f5;
    list-style: none;
    height: 100px;
    padding: 10px 0;
    a{
      .share{
        display: flex;
        .thumb{
          width: 20%;
          height: 80px;
          margin: 0 10px;
          img{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .textarea{
          word-break: break-all;
          width: calc(75% - 20px);
          h2{
            width: 100%;
          }
          p{
            width: 100%;
          }
        }
      }
    }
  }
}

.share_list:nth-child(odd){
  background-color: #e1e1e1;
}

#button_area{
  position: fixed;
  // 下部中央寄せ
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3svh;

  display: flex;
  justify-content: space-between;
  width: 80%;
}

button#back, button#share{
  text-align: center;
  width: 45%;
  height: 60px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 6px;
  border: 0;
  color: #000021;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 15px;
}
button#back:hover, button#share:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}
button#back{
  color: #fff;
  background: #ff5000;
}

#share_modal{
  #share_modal_content{
    margin: 0 auto;
    h3{
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      height: 5svh;
      line-height: 5svh;
      margin-bottom: 2svh;
      padding: 0;
      background-color: #f5f5f5d0;
    }
    .cp_iptxt {
      margin: 0 auto;
      position: relative;
      width: 70%;
    }
    .cp_iptxt input[type='text'], .cp_iptxt input[type='password'] {
      font: 15px/24px sans-serif;
      box-sizing: border-box;
      width: 100%;
      padding: 0.3em;
      transition: 0.3s;
      letter-spacing: 1px;
      color: #aaaaaa;
      border: 1px solid #1b2538;
      border-radius: 4px;
    }
    .ef input[type='text']:focus, .ef input[type='password']:focus {
      border: 1px solid #da3c41;
      outline: none;
      box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
    }
  
    #copy-url, #show-qr-code{
      display: block;
      text-align: center;
      margin: 2svh auto;
      width: 30%;
      height: 40px;
      background-color: #1de9b6;
      border: none;
      border-radius: 3px;
      color: #000021;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
    }
  }
}

#qr_code_modal{
  #qr_code_modal_content{
    margin: 0 auto;
    .message{
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      height: 5svh;
      // line-height: 5svh;
      margin: 2svh auto;
      margin-bottom: 2svh;
      padding: 0 5vw;
      background-color: #f5f5f5d0;
    }
    .room_name{
      text-align: center;
    }
    .qr_code{
      display: block;
      text-align: center;
      margin: 0 auto 2svh auto;
      width: 60vw;
      max-width: 300px;
    }
  }
}

/* PC */
@media screen and (min-width:960px){
  header{
    display: block;
  }

  #sp_msg{
    display: none;
  }

  #file_empty{
    font-size: 18px;
    line-height: 30px;
  }

  ul{
    margin: 0 auto;
    height: 60svh;
    width: 50vw;
  }

  #button_area{
    margin-bottom: 10svh;
    width: 40vw;
  }
  
  button#back, button#share{
    width: 35%;
    height: 90px;
    font-size: 22px;
  }
}