// ダブルタップ拡大無効
html {
  touch-action: manipulation;
}

// SmartPhone
body{
  font-family: sans-serif;
  background-image: url(/site_images/kumosora2.jpg);
  background-size: cover;
  height: 100svh;
}

header{
  display: none;
  height: 10svh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  #header_img{
    height: 100%;
    background-image: url(/site_images/logo_transparent_header.png);
    background-size: 14svh;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

#head_text{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  height: 5svh;
  line-height: 5svh;
  margin-bottom: 4svh;
  padding: 0;
  background-color: #f5f5f5d0;
}

#upload_area{
  margin: 0 auto;
  width: 90vw;
  // background-color: rgba(255, 255, 255, 0.8);
  .dropzone{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .dz-message{
      margin: 0 auto;
      button{
        height: 100%;
      }
    }
    .dz-preview{
      background: #ffffff00;
      width: 30vw;
      height: 30vw;
      .dz-image{
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

#button_area{
  position: fixed;
  // 下部中央寄せ
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3svh;

  display: flex;
  justify-content: space-between;
  width: 80%;
}

button#back, button#share{
  text-align: center;
  width: 45%;
  height: 60px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 6px;
  border: 0;
  color: #000021;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 15px;
}
button#back:hover, button#share:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}
button#back{
  color: #fff;
  background: #ff5000;
}

#share_modal{
  #share_modal_content{
    margin: 0 auto;
    h3{
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      height: 5svh;
      line-height: 5svh;
      margin-bottom: 2svh;
      padding: 0;
      background-color: #f5f5f5d0;
    }
    .cp_iptxt {
      margin: 0 auto;
      position: relative;
      width: 70%;
    }
    .cp_iptxt input[type='text'], .cp_iptxt input[type='password'] {
      font: 15px/24px sans-serif;
      box-sizing: border-box;
      width: 100%;
      padding: 0.3em;
      transition: 0.3s;
      letter-spacing: 1px;
      color: #aaaaaa;
      border: 1px solid #1b2538;
      border-radius: 4px;
    }
    .ef input[type='text']:focus, .ef input[type='password']:focus {
      border: 1px solid #da3c41;
      outline: none;
      box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
    }
  
    #copy-url, #show-qr-code{
      display: block;
      text-align: center;
      margin: 2svh auto;
      width: 30%;
      height: 40px;
      background-color: #1de9b6;
      border: none;
      border-radius: 3px;
      color: #000021;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
    }
  }
}

#qr_code_modal{
  #qr_code_modal_content{
    margin: 0 auto;
    .message{
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      height: 5svh;
      // line-height: 5svh;
      margin: 2svh auto;
      margin-bottom: 2svh;
      padding: 0 5vw;
      background-color: #f5f5f5d0;
    }
    .room_name{
      text-align: center;
    }
    .qr_code{
      display: block;
      text-align: center;
      margin: 0 auto 2svh auto;
      width: 60vw;
      max-width: 300px;
    }
  }
}

/* PC */
@media screen and (min-width:960px){
  header{
    display: block;
  }

  #upload_area{
    margin: 0 auto;
    width: 50vw;
    // background-color: rgba(255, 255, 255, 0.8);
    .dropzone{
      border-radius: 20px;
      padding: 2vw 4vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: normal;
      .dz-message{
        font-size: 20px;
        margin: 0 auto;
        button{
          height: 100%;
        }
      }
      .dz-preview{
        margin: 23px 2.4vw;
        width: 9vw;
        height: 9vw;
        .dz-image{
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      .dz-remove{
        font-size: 20px;
      }
    }
  }

  #button_area{
    margin-bottom: 10svh;
    width: 40vw;
  }
  
  button#back, button#share{
    width: 35%;
    height: 90px;
    font-size: 22px;
  }
}