<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
  <title>ファイルアップロード</title>
</head>
<body>
  <h1>ファイルアップロード</h1>
  <!-- <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="アップロード">
  </form> -->

  <div class="dropzone" id="awesome"></div>

</body>
<script type="text/javascript">
  var myDropzone = new Dropzone("div#awesome", { 
    url: "/upload",
    dictDefaultMessage: "ここにファイルをドロップしてください",
  });
</script>
</html>